@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

* {
    transition: 0.1s ease;
}

body {
    background: #dbd1c7;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}
.container {
    max-width: 1366px !important;
    padding-left: 0;
    padding-right: 0;
}

a {
    text-decoration: none;
}

.container-shadow-login-sign-up {
    position: absolute;
    width: 525px;
    height: 100vh;
    left: 50%;
    margin-left: -262.5px;
    box-shadow: 0px 30px 50px -20px #000;
}

.container-login-sign-up {
    position: absolute;
    width: 525px;
    height: 100vh;
    left: 50%;
    margin-left: -262.5px;
    background: linear-gradient(90deg, #29323c 0%, #3b4249 100%);
    box-shadow: 0px 0px 50px -20px #000;
}

.wrap {
    position: relative;
    width: 400px;
    margin: 0 auto;
}

.headings {
    position: relative;
    margin: 40px -18px;
}

.headings > a {
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 10px;
    border-bottom: solid 2px rgba(17, 97, 237, 0);
    display: inline-block;
}

.headings > a:first-child {
    margin-left: 20px;
    margin-right: 45px;
}

.headings > a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.headings > a.active {
    // color: rgba(255, 255, 255, 1);
    border-bottom: solid 4px #aaf0d1;
    box-shadow: 0 5px 5px -5px #1d2124;
}

.headings > a span {
    font-size: 1.4rem;
    letter-spacing: 1px;
}

label {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    padding: -2px 20px;
    position: relative;
    display: block;
    font-size: 14px;
}
input[type="radio"] {
    width: 10%;
    &:focus {
        box-shadow: none;
    }
}
input {
    width: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: transparent;
    padding: 0px 10px;
    border: none;
    border-bottom: 2px solid #1d2124;
    outline: none;
    box-sizing: border-box;

    margin-bottom: 20px;
}

input:active,
input:focus {
    border-bottom: 0.12em solid #aaf0d1;
    border-color: #aaf0d1;
    box-shadow: 0 2px 2px -2px #aaf0d1;
}

#password {
    padding-right: 50px;
}

#password + i {
    color: rgba(255, 255, 255, 0.7);
    font-size: 25px;
    float: right;
    position: relative;
    top: -43px;
    right: 15px;
    cursor: pointer;
}

#password + i:hover {
    color: rgba(255, 255, 255, 1);
}

input[type="checkbox"] {
    width: inherit;
    padding: 0;
    margin: 20px 5px 30px 0px;
}

input[type="checkbox"] + span {
    color: #fff;
}

#rlabel {
    display: inline-block;
    padding: 0;
    top: 1px;
}

#remember:hover,
#rlabel:hover {
    cursor: pointer;
}

.button {
    width: 100%;
    background: #aaf0d1;
    color: #2c353e;
    text-transform: uppercase;
    margin-top: 1.3em;
    padding: 12px;
    cursor: pointer;
    border: 2px solid transparent;
}

.button:hover {
    background: #aaf0d1;
    box-shadow: 0 0 2px #aaf0d1, 0 0 2px #aaf0d1, 0 0 2px #aaf0d1;
}

#sign-up-form input[type="submit"] {
    margin-top: 50px;
}
.login-signup {
    .footer .fp a {
        color: rgba(255, 255, 255, 0.6);
        cursor: pointer;
    }

    .footer .hr {
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        margin: 60px 0px 40px;
    }

    .footer .fp {
        text-align: center;
    }

    .footer .fp a:hover {
        color: rgba(255, 255, 255, 1);
    }
}
#sign-in-form {
    display: block;
}

@media (max-width: 524px) {
    .container-shadow-login-sign-up {
        width: 400px;
        left: 50%;
        margin-left: -200px;
    }

    .container-login-sign-up {
        width: 400px;
        left: 50%;
        margin-left: -200px;
    }

    .wrap {
        width: 300px;
    }

    footer .hr {
        margin-top: 50px;
    }
}

@media (max-width: 399px) {
    .container-shadow-login-sign-up {
        width: 100%;
        margin: 0px;
        left: inherit;
    }

    .container-login-sign-up {
        width: 100%;
        margin: 0px;
        left: inherit;
    }

    .wrap {
        width: 80%;
    }
}

@media (max-width: 330px) {
    .wrap {
        width: 90%;
    }
    a {
        text-decoration: none !important;
        &:hover {
            text-decoration: none !important;
        }
    }
}
